body {
    background-color: #D5E1EF;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #1F314F;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
}

img {
    max-width: 18rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.container {
    font-family: 'Outfit';
    width: 20rem;
    background-color: white;
    border-radius: 1.25rem;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 30px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  }

  .container p {
    font-size: 15px;
    color: #68778D;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
    padding: 1rem;
  }
